*{
    box-sizing:border-box;
    font-family:Arial;
}


body{

    margin:0;
    background:#17191e;
    color:white;
    overflow:auto;

}



.topbar{

    height:60px;
    background:#30333a;
    display:flex;
    align-items:center;
    gap:40px;
    padding-left:25px;

}


.topbar h2{

    margin:0;
}


.bracket{

    display:flex;
    gap:100px;
    padding:60px;

}


.round{

    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:900px;

}



.match{

    width:180px;
    height:90px;
    position:relative;

}


player-card,
.slot{

    display:block;
    height:40px;
    border-bottom:2px solid #ddd;

}



.player{

    display:flex;
    align-items:center;
    gap:10px;
    height:40px;

}



.player img{

    width:35px;
    height:35px;
    border-radius:50%;
    object-fit:cover;

}


.player span{

    font-size:15px;

}



.eliminated img{

    filter:grayscale(100%);

}



.second{

    padding-top:80px;

}


.third{

    padding-top:200px;

}


.final{

    display:flex;
    align-items:center;

}
